body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f2f2f2;
    padding-top: 50px;
}

.logo-box {
    width: 150px;
    height: 150px;
    background: #ff6600;
    margin: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px gray;
}

.logo-text {
    color: white;
    font-size: 26px;
    font-weight: bold;
}
.a{
    color: rgb(70, 33, 83);
}